body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial;
}header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  color: rgb(210, 241, 125);
}